.header-title {
  text-align: center;
  padding: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  transform: skewY(-7deg);
  position: relative;
}

.header-title::after {
  content: "";
  display: block;
  height: 65%;
  width: 20%;
  position: absolute;
  top: 60%;
  left: 50%;
  background: linear-gradient(to bottom, #9be15d, #00e3ae);
  opacity: 0.8;
  z-index: -1;
  transform: skewY(7deg) translate(-50%, -50%);
}
